@import url(../variables.css);

body {
  background: var(--background);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

main {
  position: relative;
  width: 80%;
  margin: auto;
}

header {
  padding: 25px 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header i[class^=icon] {
  margin-left: 16px;
}

#about {
  padding-top: 30px;
  margin: auto;
  max-width: 600px;
} 

#profile {
  position: absolute;
  top: 0;
  right:0;
  z-index: -2;
}

h1 {
  font-size: 50px;
  font-family: "Playwrite AU QLD";
}

h1 ~ p {
  font-size: 18px;
}

p {
  line-height: 1.5;
  opacity: 0.75;
}

main a {
  position: relative;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
}

main a::after {
  position: absolute;
  left:0;
  bottom: -2px;
  content: "";
  width: 100%;
  height: 5px;
  background-color: rgba(0, 183, 255, 0.5);
  z-index: -1;
  transition: all 0.1s;
}

main a:hover::after {
  content: "";
  height: 110%;
}

main > section > p:nth-last-child(2) {
  margin-bottom: 50px;
}

main section > p:last-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-bar {
  position: relative;
}

.theme-list {
  position: absolute;
  top: 35px;
  right:0;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px .29px 2.5px 0px #00000029;
  width: 180px;
  padding: 8px 12px;
  border-radius: 5px;
  display: none;
}

.theme-list li {
  margin: 5px 0;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.theme-list li:hover {
  background-color: #dbdbdb;
}

#signaturePath {
  stroke-dasharray: 2400;
  stroke-dashoffset: 2400;
  fill: transparent;
  animation: drawSignature 8s linear infinite;
}

@keyframes drawSignature {
  0% {
    stroke-dashoffset: 2400;
  }

  15% {
    fill: transparent;
  }

  35%,
  75% {
    stroke-dashoffset: 0;
    fill: #3f3f3f;
  }

  90%,
  100% {
    stroke-dashoffset: 2400;
    fill: transparent;
  }
}
